@page
@model SpaBookingApp.Pages.Products.GetProductByIdModel
@{
    Layout = "_LayoutWithUsername";
}
@inject HttpClient HttpClient
@{
    ViewData["Title"] = "Get SpaProduct by ID";
}
<h1>Get SpaProduct by ID</h1>

@if (Model.Product != null)
{
    <h2>SpaProduct Details</h2>
    <div class="product-detail">
    <div class="product-detail-image">
        @if (!string.IsNullOrEmpty(Model.Product.PosterName))
            {
                <img src="@Model.Product.PosterName" alt="Product Poster" />
            }
        </div>
        <div class="product-detail-info">
            <p><strong>ID:</strong> @Model.Product.Id</p>
            <p><strong>Name:</strong> @Model.Product.Name</p>
            <p><strong>Price:</strong> @Model.Product.Price.ToString("C")</p>
            <p><strong>Quantity In Stock:</strong> @Model.Product.QuantityInStock</p>
            <p><strong>Category:</strong> @Model.Product.CategoryName</p>
        </div>
    </div>

    <a href="/SpaProducts/Index" class="button secondary-button">Back to Spa
    Products</a>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}
