@page
@model SpaBookingApp.Pages.Products.UpdateProductModel
@{ Layout = "_LayoutWithUsername"; }
@{
    ViewData["Title"] = "Update Product";
}

<h1>Update Product</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="error-message">@Model.ErrorMessage</p>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p class="success-message">@Model.SuccessMessage</p>
}

<form method="post" id="updateProductForm" class="form-container" enctype="multipart/form-data">

    <input type="hidden" asp-for="Product.Id" />

    <div class="form-group">
        <label>Name:</label>
        <input type="text" asp-for="Product.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Price:</label>
        <input type="number" asp-for="Product.Price" class="form-control" step="0.01" />
    </div>

    <div class="form-group">
        <label>Quantity in Stock:</label>
        <input type="number" asp-for="Product.QuantityInStock" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description:</label>
        <textarea asp-for="Product.Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Category:</label>
        <select asp-for="Product.CategoryId" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Value">@category.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Poster:</label>
        <div>
            @if (!string.IsNullOrEmpty(Model.Product.PosterName))
            {
                <img src="@Model.Product.PosterName" alt="Poster" class="poster-image" style="max-height: 200px;" id="currentImage" />
            }
            <input type="file" asp-for="Product.Poster" class="form-control-file" onchange="displayPreviewImage(event)" accept="image/*" />
            <input type="hidden" asp-for="Product.PosterName" />
            <img id="previewImage" alt="Preview" style="display: none; max-height: 200px;" />
        </div>
    </div>

    <button type="submit" class="button primary-button">Update</button>
    <a href="/Products" class="button secondary-button">Back to Products</a>
</form>

<script src="~/js/Image/updateimage.js"></script>
<script src="~/js/Product/updateProduct.js"></script>


