@page
@model SpaBookingApp.Pages.Home.GetCartsModel
@{
    Layout = "_MyLayout1";
}
<style>
    #cancelButton {
        padding: 10px 20px;
        background-color: #ff0000; /* Màu đỏ */
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right; /* Đặt nút bên phải */
        margin-left: 438px; /* Để tạo khoảng cách giữa nút "Cancelled" và nút "Update Booking" */
    }
    
</style>
<div>
    <section class="bg0 p-t-100 p-b-80">
        <div class="container">
            <!-- breadcrumb -->
            <div class="container">
                <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
                    <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
                        Home
                        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                    </a>
                    <span class="stext-109 cl4">
                        Shoping Cart
                    </span>
                </div>
            </div>
            <div class="row p-b-20">
                <!-- Shoping Cart -->
                <div class="bg0 p-t-20 p-b-85">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                                <div class="m-l-20 m-r-20 m-lr-0-xl">
                                    <div id="cart-items"
                                        class="wrap-table-shopping-cart">
                                        @if (Model.CartDto != null &&
                                        Model.CartDto.CartItems != null &&
                                        Model.CartDto.CartItems.Count > 0)
                                        {
                                            <table class="table-shopping-cart">
                                                <tr>
                                                    <th class="column-1">Product</th>
                                                    <th class="column-2">Name</th>
                                                    <th class="column-3">Quantity</th>
                                                    <th class="column-4">Price</th>
                                                    <th class="column-5">Quantity in sock</th>
                                                    <th class="column-6">Total</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                @foreach (var item in
                                            Model.CartDto.CartItems)
                                                {
                                                    <tr class="cart-item table_row">
                                                        <td class="column-1">
                                                            <div>
                                                                <img
                                                                    src="@item.SpaProduct.PosterName"
                                                                    alt="Product Poster"
                                                                    style="width: 100px;">
                                                            </div>
                                                        </td>
                                                        <td class="column-2">@item.SpaProduct.Name</td>
                                                        <td class="column-3 align="center">
                                                            <div class="wrap-num-product flex-w">
                                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                                </div>
                                                                <input type="number" class="flex-c-m stext-101 cl2 size-105 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" data-product-id="${item.spaProduct.id}" min="0" value="${item.quantity}">
                                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="column-4">$@item.SpaProduct.Price</td>
                                                        <td class="column-5">$@item.SpaProduct.QuantityInStock</td>
                                                        <td class="column-6">$@(item.Quantity *
                                                            item.SpaProduct.Price)</td>
                                                        <td>
                                                            <button
                                                                class="flex-c-m stext-101 cl2 size-105 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                                                                data-product-id="@item.SpaProduct.Id"
                                                                onclick="updateCart(@item.SpaProduct.Id)">Update
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button
                                                                class="flex-c-m stext-101 cl2 size-105 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                                                                data-product-id="@item.SpaProduct.Id"
                                                                onclick="removeCartItem(@item.SpaProduct.Id)">Remove
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                        else
                                        {
                                            <p>Your cart is empty.</p>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-12 col-xl-12 m-lr-auto">
                                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-20 m-r-20 m-lr-0-xl p-lr-15-sm">
                                    <div class="flex-w flex-t p-b-13">
                                        <div class="size-208">
                                            <h4 class="mtext-109 cl2 p-b-30">
                                                Cart Totals
                                            </h4>
                                        </div>

                                        <div id="cart-summary" class="size-208">
                                            @* <span class="mtext-110 cl2">
                                                
                                            </span> *@
                                        </div>
                                    </div>

                                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                                            <div class="card-body p-5">
                                                    <h3 class="mb-4">Payment</h3>
                                                    <form id="orderForm">                                           
                                                        <div class="form-outline mb-4">
                                                            <label class="form-label" for="deliveryAddress"><strong>Delivery Address</strong></label>
                                                            <input type="text" id="deliveryAddress" name="deliveryAddress" class="form-control form-control-lg" required/>
                                                        </div>
                                                        <div class="form-outline mb-4">
                                                            <label class="form-label" for="phoneNumber"><strong>Phone Number</strong></label>
                                                            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control form-control-lg" required/>
                                                        </div>

                                                        <div class="form-outline mb-4">
                                                            <label class="form-label" for="paymentMethod"><strong>Payment Method</strong></label>
                                                            <select id="paymentMethod" name="paymentMethod" class="form-control form-control-lg">
                                                                <option value="Cash">Cash</option>
                                                                <option value="Card">Credit Card</option>
                                                            </select>
                                                        </div>
                                                        <div class="row">
                                                            <button class="flex-c-m stext-101 cl0 m-r-20 size-101 bg3 bor14 hov-btn3 p-lr-5 trans-04 pointer" type="submit">Create Order</button>                                                 
                                                            <div id="responseContainer"></div>
                                                            <a href="#" class="flex-c-m stext-101  bg3 bor14 hov-btn3 p-lr-5 trans-04 pointer" onclick="clearCart()">Clear Cart</a>
                                                            <button id="cancelButton" onclick="window.location.href='/home/index'">Cancelled</button>
                                                        </div>
                                                    </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<a href="#" class="button secondary-button" onclick="clearCart()">Clear
    Cart</a>
<a href="/SpaProducts/Index" class="button secondary-button">Continue
    Shopping</a>
<script src="~/js/Home/getCart.js"></script>

<style>
    .cart-summary-container {
        display: flex;
        padding-top: 5px;
    }

    .cart-summary-item {
        display: flex;
        align-items: center;
        margin-right: 20px; /* Khoảng cách giữa các phần tử */
    }
</style>