@page
@model SpaBookingApp.Pages.Home.ProductsModel
@{
    Layout = "_ProvisionLayout";
}

<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <!-- breadcrumb -->
        <div class="container">
            <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
                <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
                    Home
                    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>
                <span class="stext-109 cl4">
                    Product
                </span>
            </div>
        </div>
        <br>
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button
                    class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
                    data-filter="*">
                    All Product
                </button>
                @foreach (var category in Model.Categories)
                {
                    string filter = "." + category.Name;
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
                        data-filter="@filter">
                        @Html.DisplayFor(modelItem => category.Name)
                    </button>
                }
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div
                    class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i
                        class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i
                        class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>
                <div
                    class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i
                        class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i
                        class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>

            <div class="dis-none panel-filter w-full p-t-10">
                <div
                    class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By Name
                        </div>
                        <ul class="filter-tope-group">
                            <li class="p-b-6">
                                <a href="/Home/Index?sortBy=name&sortOrder=asc"
                                    class="filter-link stext-106 trans-04">
                                    Ascending
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/Home/Index?sortBy=name&sortOrder=desc"
                                    class="filter-link stext-106 trans-04">
                                    Descending
                                </a>
                            </li>
                            <!-- Add other sort options as needed -->
                        </ul>
                    </div>
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By Price
                        </div>
                        <ul class="filter-tope-group">
                            <li class="p-b-6">
                                <a href="/Home/Product?sortBy=price&sortOrder=asc"
                                    class="filter-link stext-106 trans-04">
                                    Ascending
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a
                                    href="/Home/Product?sortBy=price&sortOrder=desc"
                                    class="filter-link stext-106 trans-04">
                                    Descending
                                </a>
                            </li>
                            <!-- Add other sort options as needed -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <form method="get">
                    <div class="bor8 dis-flex p-l-15">
                        <button
                            class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04"
                            type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>

                        <input class="mtext-107 cl2 size-114 plh2 p-r-15"
                            type="text" name="search" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>

        <div class="row isotope-grid">
            @* <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item
            women"></div> *@
            @foreach (var product in Model.SpaProducts)
            {
                string filterCategory = "category-" +
                String.Concat(product.CategoryName.Where(c =>
                !Char.IsWhiteSpace(c)));
                <div
                    class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @product.CategoryName">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            @if (!string.IsNullOrEmpty(product.PosterName))
                            {
                                <img src="@product.PosterName" alt="Poster"
                                    class="img-fluid">
                            }
                            else
                            {
                                <span class="no-poster">No poster available</span>
                            }
                            <a href="~/Home/Detail?id=@product.Id"
                                class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                Quick View
                            </a>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l">
                                <a href="~/Home/Detail?id=@product.Id"
                                    class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @product.Name
                                </a>
                                <span class="stext-105 cl3">
                                    @product.Price.ToString("C")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="flex-c-m flex-w w-full p-t-45">
            <div class="pagination">
                @if (Model.PageInformation.PageIndex > 0)
                {
                    <a
                        href="~/Home/Product?pageIndex=0&search=@Model.Search&category=@Model.Category&minPrice=@Model.MinPrice&maxPrice=@Model.MaxPrice&sortBy=@Model.SortBy&sortOrder=@Model.SortOrder">First</a>
                    <a
                        href="~/Home/Product?pageIndex=@(Model.PageInformation.PageIndex - 1)&search=@Model.Search&category=@Model.Category&minPrice=@Model.MinPrice&maxPrice=@Model.MaxPrice&sortBy=@Model.SortBy&sortOrder=@Model.SortOrder">Previous</a>
                }
                @for (int i = 0; i < Model.PageInformation.TotalPages; i++)
                {
                    int displayedPageIndex = i + 1;
                    string activeClass = i == Model.PageInformation.PageIndex ?
                    "active"
                    : ""; // Thêm lớp "active" cho trang hiện tại
                    <a class="@activeClass"
                        href="~/Home/Product?pageIndex=@i&search=@Model.Search&category=@Model.Category&minPrice=@Model.MinPrice&maxPrice=@Model.MaxPrice&sortBy=@Model.SortBy&sortOrder=@Model.SortOrder">@displayedPageIndex</a>
                }
                @if (Model.PageInformation.PageIndex <
                Model.PageInformation.TotalPages - 1)
                {
                    <a
                        href="~/Home/Product?pageIndex=@(Model.PageInformation.PageIndex + 1)&search=@Model.Search&category=@Model.Category&minPrice=@Model.MinPrice&maxPrice=@Model.MaxPrice&sortBy=@Model.SortBy&sortOrder=@Model.SortOrder">Next</a>
                    <a
                        href="~/Home/Product?pageIndex=@(Model.PageInformation.TotalPages - 1)&search=@Model.Search&category=@Model.Category&minPrice=@Model.MinPrice&maxPrice=@Model.MaxPrice&sortBy=@Model.SortBy&sortOrder=@Model.SortOrder">Last</a>
                }
            </div>
        </div>

    </div>
</section>
