@page
@model SpaBookingApp.Pages.Provisions.GetProvisionByIdModel

@inject HttpClient HttpClient
@{
    ViewData["Title"] = "Get Provision by ID";
    Layout = "_AdminLayout";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Provisions /</span>Provision Details
    </h4>

    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Provision Informations </h5>
                <small class="text-muted float-end">Info label</small>
            </div>
            <div class="card-body">
                @if (Model.Provision != null)
                {
                    <h2>Provision Details</h2>
                    <div class="provision-detail mb-3">
                        <div class="provision-detail-image">
                            @if (!string.IsNullOrEmpty(Model.Provision.PosterName))
                            {
                                <img src="@Model.Provision.PosterName" class="poster-image1" alt="Provision Poster" />
                            }
                        </div>
                        <div class="provision-info mb-3">
                            <p><strong>ID:</strong> @Model.Provision.Id</p>
                            <p><strong>Name:</strong> @Model.Provision.Name</p>
                            <p><strong>Description:</strong> @Model.Provision.Description</p>
                            <p><strong>Price:</strong> @Model.Provision.Price.ToString("C")</p>
                            <p><strong>Duration Minutes:</strong> @Model.Provision.DurationMinutes</p>
                            <p><strong>Number Of Executions:</strong> @Model.Provision.NumberOfExecutions</p>
                            <p><strong>Status:</strong> @Model.Provision.Status</p>
                        </div>
                    </div>

                    <a href="/Provisions/Index" class="btn btn-secondary">Back to Provisions</a>
                }
            </div>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}
